<!DOCTYPE html>
<html lang="fr" data-bs-core="modern">
	<head>
		<title>{% block title %}{% endblock title %} - TinyShare</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/css/base.css">

		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			{% if not ctx.token %}
			<a id="l_register" class="btn" href="{{ url_for('login' ) }}?inscription">Inscription</a>
			<a id="l_login" class="btn" href="{{ url_for('login' ) }}">Connexion</a>
			{% endif %}
			{% block header %}{% endblock %}
		</header>
		<main>
			<div style="flex:0.5"></div>
			{% block main %}{% endblock %}
			<div style="flex:1"></div>
		</main>
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>